@media print {
  html,
  body {
    height: initial !important;
    overflow: initial !important;
    -webkit-print-color-adjust: exact;
  }
  table {
    page-break-inside: avoid;
  }
}
@page {
  size: auto;
  margin: 10mm;
}
